body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background: orange;
  height: 60%;
  width: 60%;
  margin: 0 auto;
  padding: 10%;
  display: flex;
  flex-grow: 1;
  min-height: 800px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: start;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

.labels {
  max-width: 50%;
  height: 25px;
  display: flex;
}

.list-label {
  display: flex;
  align-items: center;
}

.list-item {
  list-style-type: none;
  height: 20px;
}
.list-item__label {
  display: flex;
  align-items: center;
}

.list-item-radio__label {
  white-space: nowrap;
}
.list-item-radio__button {
}

/* .dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
} */

.dropdown-select {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
